@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
/* Simple browser reset */
* {
  box-sizing: border-box;

}

html,
body {
  background: #fff;
  font-family: Arial, Helvetica, sans-serif;}

body {
  background: #fff;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 16px;
}


header{
  background: #2e8cdd;
  color: #fff;
  padding: 10px 30px;
}

footer{
  background: #222;
  /* background:#63676a; */
  padding: 40px;
  text-align: center;
  color: #d8d8d8;
}

/* Icon */
#logo {
  display: inline-block;
  color: #fff;
  width: 49%;
}


/* Basic site section */
.features {
  padding-bottom: 50px;
  padding-top: 50px;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.features__header {
  text-align: center;
  margin-bottom: 30px;
}

.features__header h2 {
  font-size: 30px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 300;
  color: #777;
}


nav ul li {
  display: inline-block;
}

nav {
  width: 50%;
  display: inline-block;
  text-align: right;
}

nav ul {
  list-style: none;
  margin: 0;
}

nav ul li a {
  color: #fff;
  /* text-decoration: none; */
  text-decoration:none;
  display: block;
  padding: 10px 15px;
  border-radius: 3px;
  transition: 0.3s ease all;
}

nav ul li a:hover {
  background: black;
}

.hero_title {
  font-size: 100px;
  margin: 0;
  font-family: "Merriweather", serif;

}

.hero_subtitle {
  font-size: 40px;
  font-style: italic;
}

.hero {
  min-height: 800px;
  text-align: center;
  background-image: center;
  background-image: url("./img/stocks.jpg");
  background-size: cover;

}

.hero_content {
  color: #ffffff;
  padding-top: 25px;
}

hero__content a {
  display: inline-block; color: #fff;
  border: 3px solid #fff;
  border-radius: 3px;
  padding: 15px 30px;
  margin-right: 20px;
  text-decoration: none;
  font-size: 28px;
  transition: transform 1s;
}
.hero__content a:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
  
.features__box-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
features__box {
  text-align: center;
  flex: 1;
  margin-left: 5px;
}
      
.features__box img {
  margin-bottom: 12px;
  width: 80px;
}
.features__box h5 {
  font-size: 20px;
  color: #999;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1px;
  margin: 0;
}
  


/* Responsive columns */
@media (max-width: 700px) {
  .features__box-wrapper {
  flex-wrap: wrap;
  }
  .features__box {
  flex: 1 100%;
  }
  }
  
    